.navBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #eaeaeb;
}
#logo {
  display: inline-block;
  background-size: cover;
  margin: 12px 10px 12px 32px;
  width: 60px;
  height: 60px;
  min-width: 60px;
}
#heading {
  float: 4;
  padding: 24px 0px 8px 10px;
  height: 60px;
  font-size: 1.8em;
  font-weight: bold;
}
#heading > a {
  text-decoration: none;
  color: black;
}
.links a {
  color: #555;
  text-decoration: none;
  transition: ease-in 0.2s;
  padding-right: 12px;
  overflow: hidden;
}
.links a:hover {
  color: #1e88e5;
  transition: ease-in 0.2s;
}
.userEmail {
  padding-left: 500px;
  font-weight: bold;
  /* text-align: right; */
}
.logout {
  padding-left: 200px;
  font-weight: bold;
  /* text-align: right; */
}

.navbar {
  background-color: rgb(47, 34, 77);
}
.logout {
  color: #232629;
}
