<div class="container">
  <div class="signUpCard">
    <form #signupForm="ngForm">
      <h2 class="heading">Sign Up</h2>
      <label class="label">Email</label>
      <input type="email" name="email" placeholder="Enter Your Email Address.." [(ngModel)]="email" class="formInput" maxlength="60"
        required>
      <label class="label">Password</label>
      <input type="password" name="password" placeholder="Enter Your password.." [(ngModel)]="password" class="formInput" maxlength="60"
        required>
      <label class="label">Display Name</label>
      <input type="displayName" name="displayName" placeholder="Enter a display Name.." [(ngModel)]="displayName" class="formInput"
        maxlength="12" required>
      <button [disabled]="!signupForm.form.valid" type="submit" (click)="signUp()" class="btn" id="btn-signUp">Sign Up</button>
      <br>
      <br>
      <span>
        <a class="right" routerLink="/">Login</a>
      </span>
    </form>
  </div>
</div>